# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Visual Studio / MSBuild
bin/
obj/
*.user
*.suo
.vs/
*.rsuser

# NuGet
packages/
*.nupkg

# SDL DLLs — allow lib/SDL explicitly
*.dll
!lib/SDL/*.dll
